  <form (ngSubmit)="onSend()" #wordForm="ngForm" class="word-form">
    <label for="word">Enter Your Word</label>
    <input 
      type="text" 
      id="word" 
      name="word" 
      [(ngModel)]="word" 
      required
      placeholder="connex"
      (keydown)="allowOnlyEnglishLetters($event)"
    />

    <button  class ="btn-send" type="submit" [disabled]="!wordForm.valid">
      Send
    </button>

    <button type="button" class="btn-clear" type="button" (click)="clearInput()">
      Clear
    </button>
  </form>
