  
  <form (ngSubmit)="onSend()" #wordForm="ngForm" class="word-form">
  <div class="form-header">
    <button type="button" class="history-button" (click)="handleOpenHistoryDialog()">history score</button>
  </div>

    <label for="word">Enter Your Word</label>
    <input 
      type="text" 
      id="word" 
      name="word" 
      [(ngModel)]="word" 
      required
      placeholder="connex"
      (keydown)="allowOnlyEnglishLetters($event)"
    />

    <button  class ="btn-send" type="submit" [disabled]="!wordForm.valid">
      Send
    </button>

    <button type="button" class="btn-clear" type="button" (click)="clearInput()">
      Clear
    </button>
  </form>


<app-list-dialog
headerText="History Score">
<app-history-item > </app-history-item>
</app-list-dialog>

<app-toast #toast></app-toast>

