.word-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 65vh; 
}

.word-form label {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.word-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 18px;
  border: 2px solid #3f51b5;
  border-radius: 5px;
  outline: none;
}

.word-form input:focus {
  border-color: #303f9f;
}

.word-form .btn-send{
  width: 100%;
  padding: 12px;
  margin: 10px;
  background-color: #3f51b5;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.word-form .btn-send:disabled {
  background-color: #c1c1c1;
  cursor: not-allowed;
}

.word-form .btn-send:hover:not(:disabled) {
  background-color: #303f9f;
}

.word-form .btn-clear{
  width: 100%;
  padding: 12px;
  margin: 10px;
  background-color:#e53935;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.word-form .btn-clear:hover {
  background-color: #b71c1c !important;
}

